/* .example-container {
    height: 100%;
    border: 1px ;
  }
  
  .example-sidenav-content {
    display: flex;
  }
  
  .example-sidenav {
    padding: 20px;
  } */

  .side-nav-creds{
      height: 100%;
      width: 25%;
  }

  .page-container{
      height: 100%;
  }